/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* VARIABLES */
:root{
  --darkViolet: rgb(32,31,45);
  --orange: rgb(255, 73, 0);
  --fontViolet:rgb(29,32,48);
  --grey:rgb(242,242,244);
  --fontGrey:rgb(192,192,192);
  --white:white;
  --transition: 0.6s ease;
  --padding: 50px 0px;
}

/* DEFAULTS STYLES  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-family: "Roboto",sans-serif;
  font-size: 1.1rem;
}

h1,h2,h3,h4,h5,h6 {
 font-family: "Koulen",cursive;
}

.container {
  width: 90%;
  margin: auto;
}
.container1 {
  width: 80%;
  margin: auto;
}

ul{
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover{
  transition: var(--transition);
  cursor: pointer;
}

/* NAVBAR */
nav {

}
nav .upper{
  background-color: var(--darkViolet);
  color: var(--white);
  padding: 10px 0px;
}
nav .upper .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .upper .container article:first-child{
 display: flex;
 align-items: center;
 justify-content: center;
}

nav .upper .container article:first-child span{
  padding: 0px 15px;
}
 nav .upper .container article:first-child .crta{
  padding: 0px 15px 0px 0px ;
}

nav .upper .container article:last-child i{
  padding: 5px;
}
nav .upper .container article:last-child i{
  cursor: pointer;
}


/* RESPONSIVE */
@media(max-width:768px){
  nav .upper .container {
    flex-direction: column;
  }
}




/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

